@import "normalize";
@import "vars";
@import "global";

.header{
  font-family: 'Rubik', sans-serif;
  color: #436372;
  padding: 54px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    display: flex;
  }

  &__logo-title{
    margin-left: 15px;
    font-size: 36px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }

  &__list-link{
    padding-bottom: 5px;
  }

  &__list-link:hover{
    border-bottom: 3px solid #fbd7b5;
  }
}

.user-nav{
  display: flex;

  &__inner{
    margin: 0 20px;
  }

  &__link--search{
    padding: 18px;
    background-color: #dee6eb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    background-color: #fcd7b6;
  }

  &__inner-link{
    position: relative;
    padding: 9px 9px 0 0;
  }

  &__inner-link:first-child{
    margin-right: 20px;
  }

  &__inner-link:last-child{
    padding-left: 26px;
    position: relative;
  }

  &__inner-link:last-child::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    left: 0;
    top: 0;
  }

  &__inner-link span{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #fff;
    border-radius: 15px;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
  }

  &__link--dots{
    padding: 16px;
    display: flex;
    background-color: #a3bbc8;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }
}


@import "media";